<nav class="mmu">
  <ul class="mmu_section">
    <li class="mmu_item">
      <a href="{{ site.url }}" class="mmu_link">Blog home</a>
    </li>
    <li class="mmu_item">
      <a href="{{ site.guidebookbaseurl }}/careers/" class="mmu_link">Come build with us!</a>
    </li>
    <li class="mmu_item">
      <a href="{{ guidebookbaseurl.baseurl }}/guides/" class="mmu_link js-pjax {% if page.selected == "guides" %}is-selected{% endif %}">Find guide</a>
    </li>
    <li class="mmu_item">
      <a href="{{ site.guidebookbaseurl }}/contact/" class="mmu_link js-pjax {% if page.selected == "contact" %}is-selected{% endif %}"Contact</a>
    </li>
    <li class="mmu_item">
      <a href="{{ site.guidebookbaseurl }}/login/" class="btn mmu_btn btn-primary js-pjax" data-event-name="Login (Mobile Nav)">Login</a>
    </li>
  </ul>
</nav>
