
<div class="nav_roof {% if page.hero == 'inverse' %}nav_roof-inverse{% endif %}">
  <div class="l-content">
    <div class="nav_roof_item">
      <p><a href="{{ site.url }}">Blog home</a></p>
    </div>
    <div class="nav_roof_item l-hidden-widescreen l-hidden-desktop">
      <p><a href="{{ site.guidebookbaseurl }}/careers/" class="">Careers</a></p>
    </div>
    <div class="nav_roof_item">
      <p><span class="ic-nav_roof_chat vam mr5"></span><a href="{{ site.guidebookbaseurl }}/contact/">Contact</a></p>
    </div>
    <div class="nav_roof_item">
      <p><span class="ic-nav_roof_phone vam mr5"></span>(888) 733-3942</p>
    </div>
  </div>
</div>

<nav class="nav {% if page.hero == 'inverse' %}nav-inverse{% endif %} l-content">
  <div class="nav_section nav_section-left">
    <div class="nav_item flush">
      <a class="logo " href="{{ site.guidebookbaseurl }}/"><h1>Guidebook</h1></a>
    </div>
  </div>
  <ul class="nav_section nav_section-right nav_section-links">

    <li class="nav_item">
      <a href="{{ site.guidebookbaseurl }}/careers/" class="nav_link ">Come build with us!</a>
    </li>

    <li class="nav_item l-hidden-laptop">
      <a href="{{ site.guidebookbaseurl }}/guides/" class="nav_link  {% if page.selected == 'guides' %}is-selected{% endif %}">Find a guide</a>
    </li>

    <li class="nav_item pr0">
      <a href="https://builder.guidebook.com/" class="btn nav_btn mr5 " data-event-name="Login (Nav)">Login</a>
      <a href="{{ site.guidebookbaseurl }}/demo/request/" class="btn nav_btn btn-has-shadow btn-primary " data-event-name="Demo Request (Nav)">Request a demo</a>
    </li>
  </ul>

  <ul class="nav_section nav_section-right nav_section-menu">
    <li class="nav_item flush">
      <a href="#" class="nav_btn js-mobile-menu">
        <span class="hidden">Menu</span>
        <div class="shp-hamburger">
          <div class="shp-hamburger_line"></div>
          <div class="shp-hamburger_line second"></div>
          <div class="shp-hamburger_line third"></div>
        </div>
      </a>

    </li>
  </ul>
</nav>
