/* Gutter class
  ========================================================================== */

.gutter-wrapper {
  margin: $gutter;
}


/* #Clearing - by Dave Gamache
  ========================================================================== */

.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility:hidden;}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.clearfix:after {
  clear: both; }
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}