// Server Variables

$asset-url: '/';
$guidebook-image-url: 'http://guidebook.com/img/';



// Colors
// ======================================

$base-background: #fff;
$base-ink: #222;
$base-ink-light: #4E4E4E;
$base-primary: #439fd8;
$base-secondary: #515152; // #444
$base-danger: #ea5f5f;
$base-placeholder: #dce5eb;
$base-stroke: #e9e9e9;


// Borders, Corners, Shadows
// ======================================

$base-img-border-radius: 2px;
$base-avatar-border-radius: 100%;


// Measurements
// ======================================

$max-width: 1200px;
