
// Photo Grid
// ======================================

// Base

@include module(phg) {
  // Variables
  $photo-grid-margin: rhythm(1);
  $photo-grid-mobile-margin: 10px;
  $photo-grid-desktop-height: 450px;
  $photo-grid-tablet-height: 300px;
  $photo-grid-mobile-height: 200px;

  position: relative;

  // Modifiers

  @include submodule (hero) {
    
    > .phg_bgd {
      left: 0;
      bottom: 0;
      @include border-radius(0);

      &:before {
        display: none;
      }
    }
  }


  // Elements

  @include element(photo) {
    float: left;
    position: relative;
    height: $photo-grid-desktop-height;
    width: 100%;
    background: color('white');

    &.phg_photo-small {
      width: 33.333333333%;

      @include mobile {
        width: 50%;
      }
    }

    &.phg_photo-med {
      width: 66.666666666%;

      @include mobile {
        width: 50%;
      }
    }

    &.phg_photo-half {
      width: 50%;
    }

    @include tablet {
      height: $photo-grid-tablet-height;
    }

    @include mobile {
      height: $photo-grid-mobile-height;
    }

  }

  @include element(bgd) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: $photo-grid-margin;
    background-color: color('border');
    background-size: cover;
    @include border-radius($global-img-border-radius);
    overflow: hidden;

    @include mobile {
      bottom: $photo-grid-mobile-margin;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
      border: 1px solid rgba(0,0,0,.15);
      @include border-radius($global-img-border-radius);
      z-index: $global-z-content + 1;
    }

    > img {
      z-index: $global-z-content;
      @include border-radius($global-img-border-radius);
    }
  }

}

.phg_photo-small + .phg_photo-med {
  $photo-grid-margin: rhythm(1);
  $photo-grid-mobile-margin: 10px;
  .phg_bgd {
    left: $photo-grid-margin;

    @include mobile {
      left: $photo-grid-mobile-margin;
    }
  }
}

.phg_photo-half + .phg_photo-half {
  $photo-grid-margin: rhythm(1);
  $photo-grid-mobile-margin: 10px;
  .phg_bgd {
    left: $photo-grid-margin;

    @include mobile {
      left: $photo-grid-mobile-margin;
    }
  }
}
