// *************************************
//
//   Testimonial grid
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------


@include module (tsg) {
  // -------------------------------------
  //   Variables
  // -------------------------------------

  $testimonial-grid-width: 900px;
  $testimonial-grid-width-desktop: 800px;
  $testimonial-grid-width-laptop: 100%;
  $testimonial-grid-border-color: lighten(color('border'), 5%);

  width: $testimonial-grid-width;
  margin: 0 auto;
  border: 1px solid $testimonial-grid-border-color;
  display: table;
  @include border-radius(3px);

  @include tablet-and-mobile {
    width: auto;
  }

  @include desktop {
    width: $testimonial-grid-width-desktop;
  }

  @include laptop {
    width: $testimonial-grid-width-laptop;
  }



  // -------------------------------------
  //   Modifiers
  // -------------------------------------




  // -------------------------------------
  //   Elements
  // -------------------------------------

  
  @include element (row) {
    @include pie-clearfix();
    display: table;
    width: 100%;

    > .tsg_item:last-child {
      border-right: none;
    }

    &:last-child {

      > .tsg_item {
        border-bottom: none;
      }
    }

    @include mobile {
      display: block;
    }
  }

  @include element (item) {
    height: $testimonial-grid-width/4;
    display: table-cell;
    border-right: 1px solid $testimonial-grid-border-color;
    border-bottom: 1px solid $testimonial-grid-border-color;
    position: relative;
    text-align: center;
    vertical-align: middle;

    @include tablet-and-mobile {
      height: auto;
    }

    @include mobile {
      width: 100% !important;
      display: block;
      border-right: none;
    }
  }

  @include element (item-one) {
    width: 25%;
  }

  @include element (item-two) {
    width: 50%;
  }

  @include element (item-four) {
    width: 100%;
  }

  @include element (item-three) {
    width: 75%;
  }

  @include element (content) {
    width: 100%;
    padding: 40px;
    z-index: $global-z-content + 1;
    position: relative;
  }

  @include element (bgd-img) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    overflow: hidden;
    background-size: cover;
    z-index: $global-z-content;

    &:before {
      position: absolute;
      left:0;
      right: 0;
      bottom: 0;
      top: 0;
      content: "";
      background: white; // fallback
      background: rgba(255,255,255,.95);
    }
  }

  @include element (item-video) {

    .tsg_bgd-img {

      &:before{
        display: none;
      }
    } 
  }

  @include element (video_play) {
    opacity: .7;
    @include transition(all ease-in-out 200ms);

    &:hover {
      opacity: 1;
    }
  }

}







