<!doctype html>
<html class="no-js mobile-menu-hidden" lang="en-US">

{% include head.html %}

<body>

  <div class="layout">

    {% if page.particle %}
    <div class="particle"></div>
    {% endif %}

    {% include nav.html %}

    <div class="content">

      {{ content }}

    </div>

    {% include footer.html %}

  </div>

  {% include mobile-nav.html %}

  <!-- test for mobile browser size -->
  <div class="js-mobile-test"></div>

  <script type="text/javascript" src="{{ site.baseurl }}/gen/js/vendor.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/gen/js/main.js"></script>

  <div class="end-body-scripts">

    {% if site.env == 'prod' %} <!-- only run tracking code if on prod -->

    <!-- Google Analytics -->
    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-21411821-1']);
          _gaq.push(['_setDomainName', 'guidebook.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>
    <!-- End -->


    {% endif %}


    {% if page.particle %}
    <script type="text/javascript">
    // particle hero effect
    particleground(document.getElementsByClassName("particle")[0], {
      dotColor: "{{page.particle.dotColor}}",
      lineColor: "{{page.particle.lineColor}}",
      parallaxMultiplier: 20,
      curvedLines: false,
      particleRadius: 4,
      lineWidth: .5,
      density: 8000, // higher = less
      maxSpeedX: .4,
      maxSpeedY: .4
    });
    </script>
    {% endif %}
  </div>

</body>


</html>
